body {
    padding-bottom: 50px;
    background: url(../_img/binding_dark.png) repeat;
}


/* header */

#header {
    padding: 5px;
    text-shadow: 2px 2px #696969;
    color: #fff;
    background: url(../_img/binding_dark.png) repeat;
    /*    background-color: #0063DC; (flickr blue) */
    box-shadow: 1px 1px 10px #696969;
    -moz-box-shadow: 1px 1px 10px #696969;
    -webkit-box-shadow: 1px 1px 10px #696969;
}

#header i {
    margin-left: 10px;
    margin-right: 40px;
    font-size: 40px;
    line-height: 30px;
}

#container {
    min-width: 800px;
}


/* photo-holder */

#photo-holder {
    min-height: 250px;
    background: url(../_img/binding_light.png) repeat;
    padding-top: 10px;
    padding-bottom: 10px;
}

.slideshow {
    margin: 0 auto;
    width: 400px;
    padding: 39px 19px 14px;
    *padding-top: 19px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}




/* criteria */

#criteria {
    text-align: center;
    margin: 0 auto;
    min-height: 70px;
    line-height: 70px;
    background-color: #fff;
}

#criteria-pickers {
    margin: 0 auto;
    min-width: 500px;
}



#slider {
    width: 450px;
    float: right;
    margin-top: 30px;
    margin-right: 390px;


}

#sort-by {
    float: right;
}


/* criteria / icons */

#criteria i {
    font-size: 30px;
    color: #000;
    margin-right: 20px;
    border: 3px solid #000;
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center
}

#criteria .icon-map-marker {
    font-size: 35px;
}


#criteria a {
    text-decoration: none;
}

#criteria a:hover i {
    color: #0063DC;
    border: 3px solid #FF0084;
    text-decoration: none;
}





/* charts */

#charts {
    min-height: 300px;
}





/* content */


.column {
    width: 650px;
    margin: 0 auto;
}
